<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="../static/css/login.css" media="screen" th:href="@{/css/login.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>PerChill</title>

    <meta name="_csrf" content="${_csrf.token}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.parameterName}" th:content="${_csrf.parameterName}"/>

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a class="header_link" href="/listInto">PerChill</a>
            </div>
            <nav class="nav">
                <div sec:authorize="isAnonymous()" >
                    <a class="header_link" href="/login">Login</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div sec:authorize="hasAuthority('user')">
                        <a class="header_link" href="/clientAccount">Моя страница</a>
                    </div>
                    <div sec:authorize="hasAuthority('to')">
                        <a class="header_link" href="/toAccount">Моя страница</a>
                    </div>
                    <form class="signout" name="logoutForm" th:action="@{/logout}" method="post">
                        <input type="submit"  class="input_signout" value="Выход"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h1 class="find_title">Вход</h1>
            <div class="main">
                <div class="main_inner">
                        <div class="div_form">
                            <form id="Login" th:action="@{/login}" method="post" class="form_reg">
                                 <div class="nubmer">
                                     <input id="login" type="text" class="input_number" name="login" placeholder="Номер телефона">
                                 </div>

                                 <div class="password">
                                     <input id="pass" type="password" class="input_password" name="pass" placeholder="Пароль">
                                 </div>
                                 <button id="logButton" class="reg_button">
                                     <span>Войти</span>
                                 </button>
                                <div class="center">
                                    <a class="registration_button"  href="/registrationto/">Регистрация</a>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
